[data-selected-theme="dark"] {
  --color-background: #131313; 
  --color-text: #ffffff; 
}

[data-selected-theme="default"] {
  --color-background: #ffffff; 
  --color-text: #000000; 
  --background-image: url('https://www.havenandhearth.com/img/texpap');
}

